body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('../images/bg-orbiter.jpg') no-repeat top left  / cover;
    background-size: cover;
    color: #ddd;
    text-align: center;
    position: relative;
}
  .overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2); /* 50% transparent black */
			z-index: 99;
			}
	        .logo {
	            position: absolute;
	            top: 40px;
	            left: 40px;
	            width: 320px;
	            z-index: 999;
	        }
	        h1 {
	            font-size: 1.8rem;
	            margin: 0em 0em 1em 0em;
	            font-family: 'Open Sans';
	            font-weight: 600;
			color:#fff;
	            letter-spacing: 10px;
	            transform: scaleY(0.7);
	        }
	        h2 {
	            font-size: 1.8rem;
	            margin: 0em 0em 1em 0em;
	            font-family: 'Roboto';
	            font-weight: 100;
	            letter-spacing: 1.5px;
	            transform: scaleY(1.1);
	        }
		iframe {
			width:60%;
			z-index: 999;
		}
		p, ul {
			font-size: 0.9rem;
			z-index: 999;
		}

		a {
			color:#ffffff;
		}
		a:link {
		  	text-decoration: none;
		}
		
		a:visited {
		  	text-decoration: none;
		}
		
		a:hover {
			color:#4996E0;
		  	text-decoration: none;
		}
		
		a:active {
		  	text-decoration: underline;
		}
